/* ==== major fixes start here */
    *{  

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;

}

body{
    font-family: 'Inter', sans-serif
}
p{
    text-align: left;
}
/* ==== major fixes ends here ==== */


/* ==== first section starts here ==== */

.firstsection{
    height: 460px;
    
    display: flex;}
   
       
    .firstsection-leftdiv{
        padding-top:20px;
        padding-left: 40px;
        padding-right: 40px;
    width: 50%;
    height: 100%;
    background: var(--gray-color);
}
.firstsection-rightdiv{
    height: 100%;
    
   background:linear-gradient(to right,rgb(244, 107, 69,0.4), rgb(238, 168, 73,0.4)),url('./images/image1.jpg');
    width: 50%;
  background-size: cover;
  background-position: bottom left;
}
.link-holder{
    /* border: 3px solid black; */
    display:flex;
    justify-content: space-evenly;
    color:var(--whtie-color);
    padding: 20px 0;
}
.logo{
    margin-bottom: 30px;
    
}
span{
    color: var(--main-color);
}
.line{

    background: var(--main-color);
    padding: 8px;
    width: 224px;
}
.headingwriteup{
    border: 3px;
    margin: 30px 0;
}

/* ====first section ends here ==== */

/* ==== second section starts here ==== */
.secondsection{
    /* height: 300px; */
    /* border: var(--blackborder); */
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items:center;
    padding:30px 0;

    
}
.secondsection-leftdiv{
    text-align: center;
    padding: 40px 20px;
    height: 400px;
    width: 310px;
    background: var(--gray-color);
}
.secondsection-leftdiv p{
    text-align: left;
    margin: 20px 0;
}
.secondsection-rightdiv{
    width: 340px;
    height: 460px;
    background: var(--main-color);
    margin-left:20px ;
}
/* ==== second section ends here ==== */

/* ==== third section starts here ==== */
.thirdsection{
    padding: 30px 0;
    /* height: 300px; */
border:var(--black-border);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: var(--blackborder); */

}
.thirdsection-leftdiv{
    background: var(--gray-color);
    height: 460px;
    width: 340px;
}
.thirdsection-rightdiv{
    background: var(--main-color);
    height: 460px;
    width: 340px;
}
/* ==== third section ends here ==== */


/* ==== footer section starts here ==== */
footer{
    color: var(--whtie-color);
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
.footericons-container{
    /* height: 100px; */
    text-align: center;
    /* border: 3px solid black; */
    width: 200px;
}
.footer-icons{
    font-size: 25px;
    margin: 0 5px;
}
/* ==== footer section ends here ==== */




